{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'global/headTag/head-tag.html' with title="The Campus Cookbook" %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <body class="bg-gray-50">
    {% include 'global/navbar/navbar.html' %}
    <div class="login-container">
      <div class="login-card">
        <h2 class="login-title">
          Login
        </h2>
        <form method="POST" action="{% url 'login' %}" id="login_form">
          {% csrf_token %}
          <div class="input-field">
            <label class="input-label" for="username"
              >Username</label
            >
            <input
              id="username"
              name="username"
              type="text"
              placeholder="Enter your username"
              class="input"
            />
          </div>
          <div class="input-field">
            <label class="input-label" for="password"
              >Password</label
            >
            <input
              id="password"
              name="password"
              type="password"
              placeholder="Enter your password"
              class="input"
            />
          </div>
          <button
            type="submit"
            class="submit-button"
            value="submit"
          >
            Sign In
          </button>
        </form>
        <p class="signup-text">
          Don't have an account?
          <a href="{% url 'register' %}" class="signup-link"
            >Register</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
