{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'global/headTag/head-tag.html' with title="The Campus Cookbook" %}
<link rel="stylesheet" href="{% static 'css/restricted.css' %}">

<body class="bg-gray-50">
    {% include 'global/navbar/navbar.html' %}
    <div class="restricted-container">
        <div class="restricted-card">
            <form method="GET" action="{% url 'home' %}" id="home_form">
            <h2 class="restricted-title">
                This page is restricted for you.
            </h2>
            <button class="submit-button">home</button>
            </form>
        </div>
    </div>
</body>

</html>